.container {
  height: 100vh;
  width: 100vw;
  background-color: #edf0f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  height: 400px;
  width: 600px;
  box-shadow: 10px 10px 16px -1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #2e323c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainerTitle {
  margin-top: 50px;
  font-size: 30px;
  color: #edf0f2;
  font-family: "Poppins", sans-serif;
}

.loginForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  align-items: center;
}

.loginForm input {
  margin-bottom: 15px;
  width: 65%;
  height: 50px;
  border-radius: 60px;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
}

.loginForm input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

.loginForm button {
  width: 50%;
  height: 50px;
  border-radius: 60px;
  background-color: #535a6c;
  color: #edf0f2;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.2s;
  cursor: pointer;
  font-size: 17px;
}

.loginForm button:hover {
  background-color: #3f4553;
}

.loginLinkToRegister {
  margin-top: 15px;
  text-decoration: none;
  color: #cfd1d38e;
  font-family: "Poppins", sans-serif;
  transition: color 0.2s;
}

.loginLinkToRegister:hover {
  color: #ffffff8e;
}
